.header {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 6rem;
  margin-top: 1rem;
}

.left-icon {
  flex: 1;
  gap: 2rem;
}

.right {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: row;
  gap: 4rem;
}
